/* quillContent.css */

/* For viewing (PostDetails) */
.quill-content {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.7;
  color: #333;
  word-wrap: break-word;
}

/* For both viewing and inside ReactQuill editor */
.quill-content img,
.ql-editor img,
.quill-content video,
.ql-editor video,
.quill-content iframe,
.ql-editor iframe {
  max-width: 100%;
  min-width: 65%;
  min-height: 280px;
  /* aspect-ratio: calc(min-width); */
  margin: 1rem auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ql-editor {
  min-height: 250px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}


